body{
    margin: 0;
    background-color: #202020;
    color: #fff;
    font-family: sans-serif;
}
header{
    margin: 24px
}
header h1{
    margin: 0;
    /* text-align:center; */
}
#manifest-preview{
}
#manifest-gui{
    padding: 16px;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
    margin-top: 16px;
    width: 100%;
    /* border-collapse: collapse; */
}
.table-data-header{
    text-align: right;
}
#manifest-gui>tr>td>*{
    vertical-align: middle;
    margin: 8px;
}
#controls{
    position: fixed;
    right:24px;
}

#controls button {
    appearance: none;
    background: none;
    color: #fff;
    font-size:16px;
    border:none;
    box-shadow: inset 0 0 24px #808080;
    background-color: #202020;
    padding:8px 16px;
    border-radius: 4px
}
#controls button:hover{
    background-color: #404040;
    cursor: pointer;
}

#controls button:active{
    background-color: #000;
    box-shadow: inset 0 0 24px #808080;
}